$black: #333333

*
    margin: 0
    padding: 0
    font-family: 'Nunito', sans-serif

a:-webkit-any-link
    text-decoration: none !important

body
    background: #f6f6f6

.container
    max-width: 1200rem
    width: 100%
    padding: 0 15rem
    margin: 0 auto

.btn
    &-green
        background: #69aa1f
        color: white
        border-radius: 8rem
        padding: 5rem 12rem
        cursor: pointer
        border: none
        transition: .2s
        outline: #69aa1f

        &:hover
            background: #578d14

.products-title-index
    margin-top: 90rem
    font-size: 40rem !important
    font-weight: 500
    text-align: center


.admin
    *
        font-size: 18rem

.product
    margin-top: 80rem

    &-flex
        display: flex
        margin-top: 80rem
        gap: 70rem

    &-slider
        width: 500rem

    &-title
        font-size: 35rem
        font-weight: 500
        margin-bottom: 20rem

    &-desc
        font-size: 20rem
        font-weight: 400
        margin-bottom: 20rem

    &-price
        font-size: 30rem
        font-weight: 500

    &-kolvo
        display: block
        margin-bottom: 20rem

        *
            display: block

        label
            font-size: 18rem

    &-img
        width: 500rem !important
        object-fit: cover !important
        height: 360rem !important

        &_mini
            width: 100% !important
            object-fit: cover !important
            height: 100rem !important

.swiper
    padding: 0 !important

.mySwiper
    margin-top: 5rem

.profile
    .btn
        margin-top: 30rem
        font-size: 17rem
        padding: 7rem 35rem

.admin
    table
        font-family: arial, sans-serif
        border-collapse: collapse
        width: 100%

    td, th
        border: 1px solid #dddddd
        background: white
        text-align: left
        padding: 8px

    tr:nth-of-type(1)
        background-color: #dddddd

    .add-input
        display: block !important

    .add-label
        display: block !important
        margin-bottom: 10rem

    .add-btn
        margin-top: 20rem

    &-flex
        margin-top: 30rem
        display: flex
        gap: 20rem
        align-items: flex-start

        &__search
            width: 300rem
            border: 1px solid #dddddd
            background: white
            padding: 10rem

            &-title
                font-weight: 700
                margin-bottom: 10rem

            label
                font-size: 14rem

            input
                outline: none
                border: 1px solid darkgray
                padding: 4rem
                font-size: 18rem
                width: min(100% - 10rem)

            .btn-green
                margin-top: 10rem

.login
    label, .fs, .invalid-feedback
        font-size: 16rem

    input
        font-size: 16rem
        padding: 3rem
        outline: none

.product
    &-scroll
        width: 500rem
        overflow-y: scroll
        height: 600rem

select
    padding: 4rem 10rem
    outline: none
    border: 1px solid darkgray
    min-width: 300rem

.selectim
    margin-top: 50rem

.form-sim
    display: flex
    gap: 30rem
